.container {
    width: 1192px;
    border: 30px solid #3a4965;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}

td {
    width: 310px;
    padding: 28px 0;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #535353;
    box-shadow: inset 4px 0px 10px rgba(0,0,0,0.1);
}

tr:not(:first-child) td{
    border: .5px solid #e0e0e0;
    position: relative;
}

tr:first-child td {
    font-weight: bold;
}

.table_style {
    width: 1132px;
    height: 680px;
    border-collapse: collapse;
}

.table_style tr:nth-child(1) td:nth-child(2) {
    background-color: #89c331;
    color: white;
    font-size: 24px;
}

.table_style tr:nth-child(1) td:nth-child(3) {
    background-color: #f04a56;
    color: white;
    font-size: 30px;
}

.table_style tr:nth-child(1) td:nth-child(4) {
    background-color: #20807c;
    color: white;
    font-size: 24px;
}

.table_style tr:nth-child(4) {
    background-color: #e3e3e3;
}

.table_style tr:nth-child(6) {
    background-color: #e3e3e3;
}

.table_style tr:nth-child(8) {
    background-color: #e3e3e3;
}

button {
    width: 200px;
    padding: 17px 0 10px;
    border: none;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.btn_style1 {
    background: #3e3e3e;
    border-bottom: 7px solid #2c2c2c;
}

.btn_style1:hover {
    background: #484848;
    border-bottom: 7px solid #404040;
}

.btn_style2 {
    background: #89c331;
    border-bottom: 7px solid #79b027;
}

.btn_style2:hover {
    background: #76a82b;
    border-bottom: 7px solid #6c9d23;
}

.btn_style3 {
    background: #f04a56;
    border-bottom: 7px solid #df3a46;
}

.btn_style3:hover {
    background: #d7434e;
    border-bottom: 7px solid #c7343f;
}

.btn_style4 {
    background: #20807c;
    border-bottom: 7px solid #16736f;
}

.btn_style4:hover {
    background: #18605d;
    border-bottom: 7px solid #0f4c49;
}

.awesome_icon {
    font-size: 22px;
    margin-right: 15px;
    color: #848484;
}

.style_text {
    font-size: 18px;
    position: absolute;
    top: 95px;
    left: 275px;
}

.font_style {
    font-size: 30px;
    font-weight: bold;
    position: relative;
}

.style_txt {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 115px;
    left: 236px;
}

.price_style {
    font-size: 45px;
}

.price_style::before {
    content: '.99';
    position: absolute;
    left: 82px;
    font-size: 17px;
    top: 7px;
}























